body{
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-100);
    box-shadow: 0 0 10px var();
}

h1 {
    color: var(--text-100);
}

p {
    color: var(--text-100);
    line-height: 1.6;
}

a {
    color: var(--text-100);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--primary-100);
}

ol {
    margin-left: 20px;
}

ol li {
    margin-bottom: 10px;
}
